/*:root é para criar um grupo de variaveis de cores*/
:root {
    --background-1: #000000;
    --cor-de-fundo-1:#8f8f8f;
    --cor-de-fundo-2:#646464;
    --borda-1:#68631a;
    --borda-2:#ff00ae;
    --primary:#8b8d44;
    --segundary:#ff0000;
    --text-color-white:white;
    --text-color-black:black;
    --text-color-question:  #a4c7a2;
    --text-color-disabled:#ffa0a0;
    --buttoncolor1: rgba(214, 214, 27, 0.911);
    --Buttoncolor2:rgb(143, 122, 7);
}

/* "*" é para resetar o HTML, por padão ele vem com algumas config e esse grupo 
ajuda a redefinir esse padrão*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;


  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-size: 100%;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}

body {
    /*Color serve para mudar a cor dos textos*/
    color: white;
    background-color:#646464;
    padding: 20px;
}

header {
    text-align: center;
}

main {
    text-align: center;
}

li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

footer {
    text-align: center;
}